.cancle-button {
    color: #690000;
    background-color: white;
    border-style: solid;
    border-color: #690000;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 300ms;
}

.cancle-button:hover {
    color: white;
    background-color: #690000;
}